.header {
  border-bottom: 1px solid var(--color-border-header);
  display: flex;

@media screen and (max-width: 767px) {
    padding-bottom: 16px;
    padding-top: 16px;
  }

  &__all-nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
        max-width: 767px;
      }
  }
}

.nav1 {
  display: flex;
  justify-content: space-between;
  gap: 46px;
  line-height: 0.875;
  letter-spacing: 0.02em;
  flex-direction: row;
  padding-left: 0%;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 0;
  margin-bottom: 0;


  @media screen and (max-width: 767px) {
      display: none;
    }

  &__link-group {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--black);
    transition: color 250ms var(--cubic);

@media screen and (max-width: 767px) {
    display: none;
  }

    &:hover,
    &:focus {
      color: var(--blue);
    }
  }
}

.nav1__link-group.first-blue,
.nav1__link-group.second-blue {
  color: var(--blue);

  &::after {
    content: "";
    display: block;
    width: 53px;
    height: 4px;
    background-color: var(--blue);
    border-radius: 2px;
    transform: translateY(29px);
  }
}

.nav1__link-group.second-blue::after {
  width: 58px;
}

.nav2 {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  line-height: 0.875;
  justify-content: space-between;
  gap: 50px;
  padding-left: 0;
  padding-top: 32px;
  padding-bottom: 32px;

  @media screen and (max-width: 767px) {
    display: none;
  }

&__right{
  display: flex;
@media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-direction: column;
    align-content: center;
    row-gap: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    column-gap: 30px;
  }
}

  &__link-mt {
    --color1: currentColor;
    --color2: currentColor;
    display: flex;
    align-items: center;
    transition: fill 250ms var(--cubic);



    &:hover,
    &:hover > svg,
    &:focus > svg,
    &:focus {
      color: var(--blue);
    }
  }
  &__list-link-color > a {
    color: var(--silver);

@media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 0px;
  }

  @media screen and (min-width: 1200px) {}

  }
  &__icon-mt {
    margin-right: 10px;
    transition: 250ms var(--cubic);

    &:hover,
    &:focus {
      color: var(--blue);
    }
  }
}

// .nav2__link-mt:hover,
// .nav2__link-mt:hover > svg,
// .nav2__link-mt:focus > svg,
// .nav2__link-mt:focus {
//   color: var(--blue);
// }
