.news {
  display: flex;
  flex-direction: column;
  column-gap: 12px;

@media screen and(min-width:768px){

}

  @media screen and(min-width:$desktop){
  padding-left: 78px;  
  flex-direction: row;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 12px;
    margin-top: 0;
    color: var(--white);
    margin-bottom: 20px;

    @media screen and(min-width:$desktop){
      padding-top:35px;
      text-align: left;
    }
  }
  &__input {
    background-color: inherit;
    border: 1px solid var(--border-color-input);
    border-radius: 4px;
    width: 450px;
    padding: 15px;
    color: var(--white);
    outline: 0;

    @media screen and(min-width:$desktop){
      padding:15px;
      width:358px;
    } 
  }

  &__dokument-button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    cursor: pointer;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    display: block;
    margin: auto;



  }
  &__btn-down {
    margin-top: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;

    @media screen and (min-width:$desktop) {
        margin-left:12px;
        margin-top:70px;
      }
  }
  &__icon-send > svg {
    padding-left: 24px;
  }
}
