.hide{
  visibility: hidden;
  width:0;
  height:0;

  @media screen and (min-width:1200px){
    visibility:visible;
    width: 1170px;
    height: 386px;
    // text-align: center;
    // flex-wrap: wrap;
    // display: flex;
    // justify-content: center;
    margin:auto;

.sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px
}
.wrapper2 {
  width: 1170px;
  height: 386px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  padding-left: 0%;

  &__images-decription {
    display: block;
    filter: var(--drop-shadow);
  }

  &__text-images-one {
    position: relative;

    &::after {
      content: "aplikacje komputerowe";
      position: absolute;
      display: flex;
      justify-content: center;
      text-align: center;
      text-transform: uppercase;
      left: 0;
      right: 0;
      bottom: 15px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: 0.03em;
      color: var(--white);
      padding: 27px 90px;
      background-color: var(--background-grey);
      opacity: 80%;
    }
  }

  &__text-images-two {
    position: relative;

    &::after {
      content: "aplikacje mobilne";
      position: absolute;
      display: flex;
      justify-content: center;
      text-align: center;
      text-transform: uppercase;
      left: 0;
      right: 0;
      bottom: 15px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: 0.03em;
      color: var(--white);
      padding: 27px 90px;
      background-color: var(--background-grey);
      opacity: 80%;
    }
  }

  &__text-images-tree {
    position: relative;

    &::after {
      content: "rozwiązania graficzne";
      position: absolute;
      display: flex;
      justify-content: center;
      text-align: center;
      text-transform: uppercase;
      left: 0;
      right: 0;
      bottom: 15px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: 0.03em;
      color: var(--white);
      padding: 27px 90px;
      background-color: var(--background-grey);
      opacity: 80%;
    }
  }
}
  }
}



